<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="BasicWebControl.Site" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title><%: Page.Title %></title>
  <link href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/united/bootstrap.min.css" rel="stylesheet" />
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
  <header>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="../">Arduino Thermostat</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li>
              <a href="../About.aspx">About</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <form id="form1" runat="server">
    <div class="container">
      <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server" />
    </div>
  </form>
</body>
</html>
